.header {
  padding: 1.5em 0;

  @media (min-width: 992px) {
    font-size: 0.75rem;
  }

  .container {

    .wrap {
      display: flex;
      justify-content: space-between;
      position: relative;

      img {
        max-width: 200px;

        @media (min-width: 400px) {
          max-width: 240px;
        }

        @media (min-width: 768px) {
          max-width: 300px;
        }

        @media (min-width: 1200px) {
          max-width: 310px;
        }
      }

      nav {

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: $tertiary;
          @include border;
          border-radius: 13px;
          padding: 1em 2em;
          max-width: 275px;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          transform: translateY(-130%);
          z-index: 99;

          @media (max-width: 980px) {
            transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          }
          
          &.expanded {
            transform: translateY(35%);
            
            @media(min-width: 992px) {
              transform: initial;
              transition: none;
            }
          }

          @media (min-width: 600px) {
            max-width: 350px;
          }

          @media (min-width: 992px) {
            flex-direction: row;
            transform: initial;
            position: static;
            padding: 0;
            background-color: transparent;
            border: 0;
            max-width: initial;
            height: 100%;
          }

          li {
            padding: 0.8rem 0;

            @media (min-width: 992px) {
              padding: 0 0.7em;
            }
            
            @media (min-width: 1200px) {
              padding: 0 1.3em;
            }

            a {
              cursor: pointer;

              div.underline {
                width: 100%;
                height: 2.5px;
                background-color: $black;
                position: relative;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                top: 2px;
                transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                transform: scaleX(0);

                &::after {
                  content: '';
                  width: 100%;
                  height: 2.5px;
                  background-color: $primary;
                  position: absolute;
                  left: 0;
                  border-top-left-radius: 2px;
                  border-top-right-radius: 2px;
                  transform: translateY(-2.5px);
                }
              }

              &:hover {

                div.underline {
                  transform: scaleX(1);
                }
              }
            }
          }
        }

        button {
          position: fixed;
          top: 0;
          right: 0;
          width: 3.5em;
          height: 3.5em;
          border-radius: 50%;
          @include border;
          background-color: $primary;
          transform: translate(-50%, 40%);
          z-index: 99;

          @media (min-width: 550px) {
            transform: translate(-90%, 30%);
          }

          @media (min-width: 992px) {
            display: none;
          }

          &:hover {
            background-color: darken($primary, 10%);
          }

          .hamburger-box {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }
    }
  }
}